## 1.6.1 if Statement Example

Python interprets non-zero values as True. None and 0 are interpreted as False.

In [6]:
num = 50

if None: # None is treated as False
    print("Number is positive")
print("Default statement")      #This print statement always print

Default statement

## 1.6.2 if..else Example

In [7]:
num = 10
if num > 0:
    print("Positive number")
else:
    print("Negative Number")

Positive number

## 1.6.3 if...elif...else Example

In [8]:
num = 0

if num > 0:
    print("Positive number")
elif num == 0:
    print("ZERO")
else:
    print("Negative Number")

ZERO

## 1.6.4 Nested if Example

In [9]:
num = 10.5

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative Number")

Positive number

## 1.6.5 For Loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. For this we need an iterable.

### Example

In [2]:
#Find product of all numbers in a  iterable object
list1 = [1, 2, 3, 4, 5]
prod_val = 1

#iterating over the list
for num in list1:
    prod_val *= num

print("Product of all the numbers in list is : {}".format(prod_val))

Product of all the numbers in list is : 120

### 1.6.5.1 range() function

 * We can generate a sequence of numbers using range() function. 
 
 **Example:**  range(5) will generate numbers from 0 to 4 (5 numbers).


* We can provide the start, stop and step size as range(start,stop,step size).


* This function does not store all the values in memory, it yields the number whenever we call the value.

In [3]:
for num in range(5): #range of 5
    print(num)

0
1
2
3
4

In [4]:
for num in range(0, 50, 5): #print numbers from 0 to 50 with step size of 2
    print(num)

0
5
10
15
20
25
30
35
40
45

### 1.6.5.2 for loop with else

* A for loop can have an optional else block as well. It is executed when all the elements in the iterable are complete.

* If we use break in the loop then else is ignored.

In [7]:
numbers = [1, 2, 3]

#iterating over numbers
for num in numbers:
    print(num)
else:
    print("I am done !")

1
2
3
I am done !

## 1.6.6 Python while Loop

In [8]:
#Find product of all numbers in a  iterable object
list1 = [1, 2, 3, 4, 5]
prod_val = 1

#Index is used for keep track of the position
index = 0

#iterating over the list
while index < len(list1):
    prod_val *= list1[index]
    index += 1

print("Product of all the numbers in list is : {}".format(prod_val))

Product of all the numbers in list is : 120

### 1.6.6.1 while Loop with else

* A while loop also have an optional else block as well. It is executed when all the elements in the iterable are complete.

* If we use break in the loop then else is ignored.

In [9]:
numbers = [1, 2, 3,4,5]
index = 0
while index < len(numbers):   #iterating over numbers
    print(numbers[index])
    index += 1
    
else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

## 1.6.7 Python break Statement

* It is used to alter the flow of a normal loop. Loops iterate over a iterable until the break statement is not executed.

## Example

In [10]:
numbers = [2, 3, 4, 5]
for num in numbers:          #iterating over list
    if num == 5:
        print("Break statement triggered !")
        break
    print(num)
else:
    print("Else block executed")

2
3
4
Break statement triggered !

## 1.6.8  Python continue Statements

## Example

In [11]:
#print even numbers
numbers = [1, 2, 3, 4, 5]

# Loop over the numbers
for num in numbers:
    if num % 2 != 0:
        continue
    print(num)
else:
    print("else-block")

2
4
else-block