## 2.1 Lists

A data structure is a collection of data elements that is structured in some way. Basic data structure in Python is  "sequence".

* List is one of the Sequence Data structure

* Lists are collection of items can be hetero (Strings, integers or even other objects)

* Lists are enclosed in [ ] and are mutable.

* Each item in the list has an index value and seperated by comma.

### 2.1.1 Creation

In [ ]:
intialList = [] # empty list

list1 = [1, 2, 3, 4] #list of integers

list2 = ['one', 'two', 'three', 'four'] # list of strings

list3 = [1, 'ramu', 24, 1.24] # list of different datatypes

list4 = [[1, 2], [3, 4]] # list of lists

In [ ]:
print(list3)

In [ ]:
print(list4[0])

### 2.1.2 Append : Adds the item at the end

In [ ]:
list1 = ['one', 'two']

list1.append('three') # append will add the item at the end

print(list1)

### 2.1.3 Insert: Adds item at a position

In [ ]:
list1 = ['one', 'two']

list1.insert(1, 'three')

print(list1)

### 2.1.4 Remove: If exists, it will remove the first occurence

In [ ]:
list1 = ['two', 'three', 'four', 'two']

list1.remove('two')

print(list1)

### 2.1.5 Extend: Joins the lists

In [ ]:
list1 = ['one', 'two', 'three', 'four']

list2 = ['five', 'six']

list1.extend(list2)

print(list1)

In [ ]:
lst1 = [1, 2, 3, 4]
lst2 = ['varma', 'naveen', 'murali', 'brahma']
new_lst = lst1 + lst2

print(new_lst)

### 2.1.6 Delete: Removes the item index based

In [ ]:
list1 = ['one', 'two', 'three', 'four', 'five']

del list1[2]
print(list1)

### 2.1.7 Length

In [ ]:
list1 = ['one', 'two', 'three', 'four']
print(len(list1))

### 2.1.8 Reverse: Used to reverse a list

In [ ]:
list1 = ['four', 'three', 'two', 'one']

list1.reverse()

print(list1)

### 2.1.10 Membership Operators

In [ ]:
#keyword 'in' is used to test if an item is in a list
list1 = ['one', 'two', 'three', 'four']

if 'four' in list1:
    print('Available')

#keyword 'not' can combined with 'in'
if 'seven' not in list1:
    print('Not Available')

In [ ]:
lst = [1, 20, 'b', 5, 'a']
print(lst.sort()) # sort list with element of different datatypes.

In [ ]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list
print("Original list: ", lst)

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

## List Indexing

In [ ]:
lst = [1, 2, 3, 4]
print(lst[1]) #print second element

#print last element using negative index
print(lst[-2])

## List Slicing

Accessing parts of segments is called slicing. 

The key point to remember is that the :end value represents the first value that 
is not in the selected slice.

In [ ]:
numbers = [10, 20, 30, 40, 50,60,70,80]

#print all numbers
print(numbers[:]) 

#print from index 0 to index 3
print(numbers[0:4])

In [ ]:
print (numbers)
#print alternate elements in a list
print(numbers[::2])


#print elemnts start from 0 through rest of the list
print(numbers[2::2])

# List Count

In [ ]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

# List Looping

In [ ]:
#loop through a list

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

# List Comprehensions

List comprehensions provide a concise way to create lists. 

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)   #list append
print(squares)

In [ ]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

In [ ]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)