## 3.1 Building with built-ins

### 3.1.1 Built-in function: range()

+ Immutable sequence of numbers

In [1]:
# range(start,stop,step)

even_nums = range(2, 11, 2)
even_nums_list = list(even_nums)
print(even_nums_list)

[2, 4, 6, 8, 10]

### 3.1.2 Built-in function: enumerate()

+ Creates an indexed list of objects

In [2]:
letters = ['a', 'b', 'c', 'd' ]

indexed_letters = enumerate(letters)
indexed_letters_list = list(indexed_letters)
print(indexed_letters_list)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [3]:
# Can specify a start value
indexed_letters2 = enumerate(letters, start=5)
indexed_letters2_list = list(indexed_letters2)
print(indexed_letters2_list)

[(5, 'a'), (6, 'b'), (7, 'c'), (8, 'd')]

### 3.1.3 Built-in function: map()

+ Applies a function over an object

In [4]:
nums = [1.5, 2.3, 3.4, 4.6, 5.0]
rnd_nums = map(round, nums)
print(list(rnd_nums))

[2, 2, 3, 5, 5]

In [5]:
# Using anonymous function
nums = [1, 2, 3, 4, 5]
sqrd_nums = map(lambda x: x ** 2, nums)
print(list(sqrd_nums))

[1, 4, 9, 16, 25]